.aside {
    color: #fff;
    height: 100vh;
    width: 12.5rem;
    overflow: hidden;
    position: relative;
}

.aside-wrapper {
    position: fixed;
    background:#0B0B0B;
    width: 12.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}